<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>jQuery Search Text on Page Example</title>

    <meta name="author" content="FrontendScript" />


	<link rel="stylesheet" href="assets/css/style-m.css" />
		<link rel="stylesheet" href="assets/css/mobile-emulator.css" />
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
			integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
			crossorigin="anonymous"
		/>
		<script
			src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"
		></script>
		<script src="assets/js/jquery.highlight.js"></script>
		<script src="assets/js/jquery.scrollto.js"></script>
        <!--Only for demo purpose - no need to add.-->
    <link rel="stylesheet" href="assets/css/demo.css" />
    <style>
        .finder-activator{
            position: absolute;
        }
    
    </style>
</head>
<body>
		
<div class="ScriptTop">
    <div class="rt-container">
        <div class="col-rt-4" id="float-right">
             <center>
                <!-- AD HERE -->
            </center>
        </div>
        <div class="col-rt-2">
            <ul>
                <li><a href="index.html" title="Back to tutorial page">Back to Home</a></li>
            </ul>
        </div>
    </div>
</div>

<header class="ScriptHeader">
    <div class="rt-container">
    	<div class="col-rt-12">
        	<div class="rt-heading">
            	<h1>เครื่องมือค้นหาและเน้นคำสร้างจาก JQuery</h1>
                <p>ทดลองดูได้เลย</p>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
                 <div class="app" data-finder-wrapper data-finder-scroll-offset="175">
                    <button class="finder-activator" data-finder-activator><i class="fas fa-search"></i></button>
                    <div class="content" data-finder-content>
                        <h1>ประวัติคณะวิศวกรรมศาสตร์</h1>
                        <p>คณะวิศวกรรมศาสตร์ เป็นคณะแรกที่ได้รับการจัดตั้งขึ้นพร้อมกับมหาวิทยาลัยสงขลานครินทร์ เมื่อปี พ. ศ. 2510 (ขณะนั้นใช้ชื่อ “มหาวิทยาลัยภาคใต้” ) รับนิสิตรุ่นแรกเมื่อเดือนมิถุนายนในปีเดียวกัน จำนวน 50 คน โดยที่ยังไม่มีสถานที่ทำการ และสิ่งก่อสร้างเป็นของตัวเอง การดำเนินการต่างๆ ได้จัดทำที่สำนักงานชั่วคราวอาคารคณะวิทยาศาสตร์การแพทย์ มหาวิทยาลัยแพทยศาสตร์ ซึ่งปัจจุบันคือคณะเภสัชศาสตร์ มหาวิทยาลัยมหิดล ช่วงแรกของการดำเนินงานได้เปิดสอนเพื่อผลิตบัณฑิตวิศวกรรมศาสตร์ในระดับปริญญาตรี 3 สาขาวิชา คือ สาขาวิชาวิศวกรรมไฟฟ้า สาขาวิชาวิศวกรรมเครื่องกล และสาขาวิชาวิศวกรรมโยธา</p>
                        <p>การดำเนินการในระยะแรก ในช่วงแรกปี พ. ศ. 2511-2513 ประสบกับปัญหาอุปสรรคหลายประการเนื่องจากขาดแคลนบุคลากร เครื่องมืออุปกรณ์ และสถานที่ด้านการเรียนการสอนบางวิชา เช่น ในหมวดวิชาช่างเบื้องต้น ต้องฝากนักศึกษาไปเรียนที่ “โรงเรียนช่างฝีมือทหาร” ส่วนวิชาพื้นฐานทางวิทยาศาสตร์ ใช้คณาจารย์จากคณะวิทยาศาสตร์การแพทย์ มหาวิทยาลัยแพทยศาสตร์ (ขณะนั้น) ร่วมกับคณาจารย์จากโรงเรียนอาชีวศึกษาและวิทยาลัยเทคนิค สังกัดกระทรวงศึกษาธิการ และนักเรียนทุน “โคลัมโบ” ที่มีทุนผูกพันธ์กับมหาวิทยาลัยเป็นส่วนใหญ่ มาช่วยสอน ในระหว่างนั้นได้รีบเร่งก่อสร้างที่ทำการถาวร ของคณะฯ ที่อำเภอหาดใหญ่ จังหวัดสงขลา และได้สั่งซื้อเครื่องมืออุปกรณ์ประกอบการเรียนการสอนไปพร้อมๆ กัน</p>
                        <p>ในปี พ. ศ. 2514 การก่อสร้างอาคารของคณะฯ ได้เสร็จสิ้น พร้อมกับได้มีการติดตั้งเครื่องมืออุปกรณ์การศึกษาไว้บ้างแล้ว ในเดือนพฤษภาคมปีเดียวกัน จึงได้ย้ายนักศึกษาชั้นปีที่ 2 3 และ 4 รวมประมาณ 200 คน มาเรียนที่คณะวิศวกรรมศาสตร์ มหาวิทยาลัยสงขลานครินทร์ วิทยาเขตหาดใหญ่ ซึ่งตั้งอยู่บริเวณ เชิงเขาคอหงส์ ต. คอหงส์ อ. หาดใหญ่ จ. สงขลา ส่วนนักศึกษาชั้นปีที่ 1 ยังคงให้เรียนอยู่ที่สำนักงานชั่วคราวที่กรุงเทพฯ ต่อไปอีกหนึ่งภาคการศึกษา และในภาคการศึกษาที่สองของปีการศึกษาเดียวกัน จึงย้ายนักศึกษาทั้งหมดมาที่คณะวิศวกรรมศาสตร์ มหาวิทยาลัยสงขลานครินทร์ วิทยาเขตหาดใหญ่ ดังนั้นในปี พ. ศ. 2514 นี้เองที่คณะฯ ได้ผลิตบัณฑิตซึ่งสำเร็จการศึกษาเป็นรุ่นแรกจำนวน 13 คน</p>
                        <p>คณะวิศวกรรมศาสตร์ เป็นคณะแรกที่ได้รับการจัดตั้งขึ้นพร้อมกับมหาวิทยาลัยสงขลานครินทร์ เมื่อปี พ. ศ. 2510 ( ขณะนั้นใช้ชื่อ “มหาวิทยาลัยภาคใต้” ) รับนิสิตรุ่นแรกเมื่อเดือนมิถุนายนในปีเดียวกัน จำนวน 50 คน โดยที่ยังไม่มีสถานที่ทำการ และสิ่งก่อสร้างเป็นของตัวเอง การดำเนินการต่างๆ ได้จัดทำที่สำนักงานชั่วคราวอาคารคณะวิทยาศาสตร์การแพทย์ มหาวิทยาลัยแพทยศาสตร์ ซึ่งปัจจุบันคือคณะเภสัชศาสตร์ มหาวิทยาลัยมหิดล ช่วงแรกของการดำเนินงานได้เปิดสอนเพื่อผลิตบัณฑิตวิศวกรรมศาสตร์ในระดับปริญญาตรี 3 สาขาวิชา คือ สาขาวิชาวิศวกรรมไฟฟ้า สาขาวิชาวิศวกรรมเครื่องกล และสาขาวิชาวิศวกรรมโยธา</p>
                        <p>การดำเนินการในระยะแรก ในช่วงแรกปี พ. ศ. 2511-2513 ประสบกับปัญหาอุปสรรคหลายประการเนื่องจากขาดแคลนบุคลากร เครื่องมืออุปกรณ์ และสถานที่ด้านการเรียนการสอนบางวิชา เช่น ในหมวดวิชาช่างเบื้องต้น ต้องฝากนักศึกษาไปเรียนที่ “โรงเรียนช่างฝีมือทหาร” ส่วนวิชาพื้นฐานทางวิทยาศาสตร์ ใช้คณาจารย์จากคณะวิทยาศาสตร์การแพทย์ มหาวิทยาลัยแพทยศาสตร์ (ขณะนั้น) ร่วมกับคณาจารย์จากโรงเรียนอาชีวศึกษาและวิทยาลัยเทคนิค สังกัดกระทรวงศึกษาธิการ และนักเรียนทุน “โคลัมโบ” ที่มีทุนผูกพันธ์กับมหาวิทยาลัยเป็นส่วนใหญ่ มาช่วยสอน ในระหว่างนั้นได้รีบเร่งก่อสร้างที่ทำการถาวร ของคณะฯ ที่อำเภอหาดใหญ่ จังหวัดสงขลา และได้สั่งซื้อเครื่องมืออุปกรณ์ประกอบการเรียนการสอนไปพร้อมๆ กัน</p>
                        <p>ในปี พ. ศ. 2514 การก่อสร้างอาคารของคณะฯ ได้เสร็จสิ้น พร้อมกับได้มีการติดตั้งเครื่องมืออุปกรณ์การศึกษาไว้บ้างแล้ว ในเดือนพฤษภาคมปีเดียวกัน จึงได้ย้ายนักศึกษาชั้นปีที่ 2 3 และ 4 รวมประมาณ 200 คน มาเรียนที่คณะวิศวกรรมศาสตร์ มหาวิทยาลัยสงขลานครินทร์ วิทยาเขตหาดใหญ่ ซึ่งตั้งอยู่บริเวณ เชิงเขาคอหงส์ ต. คอหงส์ อ. หาดใหญ่ จ. สงขลา ส่วนนักศึกษาชั้นปีที่ 1 ยังคงให้เรียนอยู่ที่สำนักงานชั่วคราวที่กรุงเทพฯ ต่อไปอีกหนึ่งภาคการศึกษา และในภาคการศึกษาที่สองของปีการศึกษาเดียวกัน จึงย้ายนักศึกษาทั้งหมดมาที่คณะวิศวกรรมศาสตร์ มหาวิทยาลัยสงขลานครินทร์ วิทยาเขตหาดใหญ่ ดังนั้นในปี พ. ศ. 2514 นี้เองที่คณะฯ ได้ผลิตบัณฑิตซึ่งสำเร็จการศึกษาเป็นรุ่นแรกจำนวน 13 คน</p>
                    </div>
                </div>
    		</div>
		</div>
    </div>
</section>
    <script src="assets/js/jquery.finder.js"></script>

    <!-- Analytics -->

	</body>
</html>