<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Javascript - 6310110533</title>
</head>
<body>
    <div style="text-align: center;">
        <div>
            <header style="font-size: 500%;">
                Infomation
            </header>
        </div>
    </div>
    <div style="margin: 30px;">
        <div>
        <h3>Section: 01</h3>
        <h3>Student ID: 6310110533</h3>
        <h3>Fullname: Surawut Saithong-in</h3>
            <h3>Department: Computer Engineering</h3>
            <h3>Faculty: Engineering</h3>
            <h3>Why this lab is helpful?</h3>
            <p style="font-size: 16px; color: rgb(20, 109, 50);">Because this lab can apply to create web application for web deverloping in the future.</p>
        </div>    
    </div>
    
</body>
</html>