<!DOCTYPE html>
<html lang="en" hola_ext_inject="disable">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8">
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/surawut-1.png">
</head>
    <body>

<h1>Online Radio and Music</h1>
    <iframe src='https://www.4shared.com/web/embed/audio/file/Oj-WLPnfei?type=NORMAL&widgetWidth=530&showArtwork=true&playlistHeight=0&widgetRid=977835637439' style='overflow:hidden;height:152px;width:530px;border: 0;margin:0;'></iframe>
<h2>RR One Radio</h2>
<div class="radio">
    <br>
        <audio src="http://media.login.in.th:8135/;stream" type="audio/mpeg" controls autoplay style="width:300px;height:60px;"></audio>
        <div class="clear"></div>
    </br>
</div>
<h3>Green Wave กรีนเวฟ</h3>
    <div class="radio">
        <div id="player" class="jwplayer jw-reset jw-state-playing jw-skin-seven jw-stretch-uniform jw-breakpoint-0 jw-flag-small-player jw-flag-audio-player jw-flag-live jw-flag-media-audio jw-flag-user-inactive" tabindex="0" aria-label="Video Player" style="width: 300px; height: 40px;">
            <div class="jw-aspect jw-reset"></div>
            <div class="jw-preview jw-reset"></div>
            <div class="jw-media jw-reset">
                <video class="jw-video jw-reset" src="blob:http://radio.siamha.com/5deb770f-5045-435f-8d56-a2a9cfc38060" jw-loaded="data"></video>
            </div><div class="jw-captions jw-reset jw-captions-enabled">
                <div class="jw-captions-window jw-reset">
                    <span class="jw-captions-text jw-reset"></span>
                </div>
            </div>
            <div class="jw-title jw-reset" style="display: none;">
                <div class="jw-title-primary jw-reset"></div>
                <div class="jw-title-secondary jw-reset"></div>
            </div>
            <div class="jw-overlays jw-reset">
                <div id="player_jwpsrv" class="jw-plugin jw-reset"></div>
                <div id="player_related" class="jw-plugin jw-reset jw-plugin-related"></div>
            </div>
            <div class="afs_ads" style="width: 1px; height: 1px; position: absolute; background: transparent;">&nbsp;</div>
            <div class="jw-controls jw-reset">
                <div class="jw-display jw-reset">
                    <div class="jw-display-container jw-reset">
                        <div class="jw-display-controls jw-reset">
                            <div class="jw-display-icon-container jw-display-icon-rewind jw-background-color jw-reset">
                                <div class="jw-icon jw-icon-rewind jw-button-color jw-reset" role="button" tabindex="0" aria-label="Start playback"></div>
                            </div>
                            <div class="jw-display-icon-container jw-display-icon-display jw-background-color jw-reset" style="cursor: pointer; pointer-events: none;">
                                <div class="jw-icon jw-icon-display jw-button-color jw-reset" role="button" tabindex="0" aria-label="Pause" style="pointer-events: none;"></div>
                            </div>
                            <div class="jw-display-icon-container jw-display-icon-next jw-background-color jw-reset" style="display: none;">
                                <div class="jw-icon jw-icon-next jw-button-color jw-reset" role="button" tabindex="0" aria-label="Next"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="jw-controls-right jw-reset">
                    <div class="jw-dock jw-reset"></div>
                </div>
                <div class="jw-nextup-container jw-reset">
                    <div class="jw-nextup jw-reset">
                        <div class="jw-nextup-tooltip jw-reset">
                            <div class="jw-nextup-header jw-reset"></div>
                            <div class="jw-nextup-body jw-background-color jw-reset">
                                <div class="jw-nextup-thumbnail jw-reset"></div>
                                <div class="jw-nextup-title jw-reset"></div>
                            </div>
                        </div>
                        <button class="jw-icon jw-nextup-close jw-reset" aria-label="Next Up Close"></button>
                    </div>
                </div>
                <div class="jw-controlbar jw-background-color jw-reset">
                    <div class="jw-group jw-controlbar-left-group jw-reset">
                        <div class="jw-icon jw-icon-inline jw-button-color jw-reset jw-icon-playback" role="button" tabindex="0" aria-label="Play" style=""></div>
                        <div class="jw-icon jw-icon-inline jw-button-color jw-reset jw-icon-rewind" role="button" tabindex="0" aria-label="Rewind 10s" style="display: none;"></div>
                        <span class="jw-text jw-reset jw-text-elapsed" role="timer">22:55</span>
                        <span class="jw-text jw-reset jw-text-duration" role="timer">00:00</span>
                        <span class="jw-text jw-reset jw-text-countdown" role="timer">00:00</span>
                    </div>
                    <div class="jw-group jw-controlbar-center-group jw-reset">
                        <div class="jw-slider-time jw-background-color jw-reset jw-slider-horizontal jw-reset" aria-hidden="true">
                            <div class="jw-slider-container jw-reset">
                                <div class="jw-rail jw-reset"></div>
                                <div class="jw-buffer jw-reset" style="width: 0%;"></div>
                                <div class="jw-progress jw-reset" style="width: 0%;"></div>
                                <div class="jw-knob jw-reset" style="left: 0%;"></div>
                                <div class="jw-icon jw-icon-tooltip jw-tooltip-time jw-button-color jw-reset">
                                    <div class="jw-overlay jw-reset">
                                        <div class="jw-time-tip jw-background-color jw-reset">
                                            <div class="jw-reset" style="width: 0px; height: 0px;"></div>
                                            <span class="jw-text jw-reset"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="jw-text jw-reset jw-text-alt" role="status">Live broadcast</span>
                    </div>
                    <div class="jw-group jw-controlbar-right-group jw-reset">
                        <span class="jw-text jw-reset jw-text-duration" role="timer">00:00</span>
                        <div class="jw-icon jw-icon-inline jw-button-color jw-reset jw-icon-next" role="button" tabindex="0" aria-label="Next" style="display: none;"></div>
                        <div aria-label="Quality" role="button" tabindex="0" class="jw-icon jw-icon-tooltip jw-icon-hd jw-button-color jw-reset jw-hidden jw-toggle">
                            <div class="jw-overlay jw-reset"></div>
                        </div>
                        <div aria-label="Closed captions" role="button" tabindex="0" class="jw-icon jw-icon-tooltip jw-icon-cc jw-button-color jw-reset jw-hidden jw-off jw-toggle">
                            <div class="jw-overlay jw-reset"></div>
                        </div>
                        <div aria-label="Audio tracks" role="button" tabindex="0" class="jw-icon jw-icon-tooltip jw-icon-audio-tracks jw-button-color jw-reset jw-hidden jw-toggle">
                            <div class="jw-overlay jw-reset"></div>
                        </div>
                        <div aria-label="Playback rates" role="button" tabindex="0" class="jw-icon-tooltip jw-icon-playback-rate jw-button-color jw-reset jw-hidden jw-selection-menu">
                            <div class="jw-selection-menu-icon-container">
                                <div class="jw-menu-selection-icon jw-reset">
                                    <svg viewBox="112 -44 1024 684">
                                        <g>
                                            <path d="M735.2,41.2c-143,0-258.8,115.9-258.8,258.8s115.9,258.8,258.8,258.8S994,443,994,300S878.1,41.2,735.2,41.2z M899.9,323.5H758.7h-47.1v-47.1V135.3h47.1v141.2h141.2V323.5z"></path>
                                            <rect x="288.1" y="135.3" width="141.2" height="47.1"></rect>
                                            <rect x="194" y="276.5" width="188.2" height="47.1"></rect>
                                            <rect x="288.1" y="417.7" width="141.2" height="47.1"></rect>
                                        </g>
                                    </svg>
                                </div>
                                <div class="jw-menu-selection-text jw-reset"></div>
                            </div>
                            <div class="jw-overlay jw-reset"></div>
                        </div>
                        <div class="jw-icon jw-icon-inline jw-button-color jw-reset jw-icon-volume" role="button" tabindex="0" aria-label="Volume" style=""></div>
                        <div class="jw-reset jw-icon-cast" style="display: none; cursor: pointer;">
                            <button is="google-cast-button" class="jw-button-color jw-icon-inline jw-off" aria-label="Chromecast" role="button" tabindex="0"></button>
                        </div>
                        <div class="jw-slider-volume jw-background-color jw-reset jw-slider-horizontal jw-reset" aria-hidden="true">
                            <div class="jw-slider-container jw-reset">
                                <div class="jw-rail jw-reset"></div>
                                <div class="jw-buffer jw-reset"></div>
                                <div class="jw-progress jw-reset" style="width: 90%;"></div>
                                <div class="jw-knob jw-reset" style="left: 90%;"></div>
                            </div>
                        </div>
                        <div aria-label="Volume" role="button" tabindex="0" class="jw-icon jw-icon-tooltip jw-icon-volume jw-button-color jw-reset">
                            <div class="jw-overlay jw-reset">
                                <div class="jw-slider-volume jw-volume-tip jw-background-color jw-reset jw-slider-vertical jw-reset" aria-hidden="true">
                                    <div class="jw-slider-container jw-reset">
                                        <div class="jw-rail jw-reset"></div>
                                        <div class="jw-buffer jw-reset"></div>
                                        <div class="jw-progress jw-reset" style="height: 90%;"></div>
                                        <div class="jw-knob jw-reset" style="bottom: 90%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="jw-icon jw-icon-inline jw-button-color jw-reset jw-icon-fullscreen" role="button" tabindex="0" aria-label="Fullscreen" style=""></div>
                    </div>
                </div>
            </div>
            <div class="jw-rightclick jw-reset" style="left: 118px; top: 21px;">
                <ul class="jw-reset">
                    <li class="jw-reset jw-featured">
                        <a href="https://jwplayer.com/learn-more" class="jw-reset" target="_blank">
                            <span class="jw-icon jw-rightclick-logo jw-reset"></span>
                            Powered by JW Player 7.12.13
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <script type="text/javascript" src="https://cdn.mcot.net/jwplayer7/jwplayer.js"></script>
        <script type="text/javascript">
        jwplayer.key = "2/sSh6o2/452a4UzkgQzHttrjcx5mUJOGW+8Ng==";
        </script>
        <script type="text/javascript">
                jwplayer('player')
                    .setup({
                        file: 'https://real5.atimemedia.com/live/green.sdp/playlist.m3u8',
                        type: 'mp3',
                        androidhls: true,
                        width: '300',
                        height: '40',
                        fallback: 'true',
                        autostart: 'false',
                        repeat: 'true',
                    });
        </script>
    </div>
    <h4>บางกอกสไมล์ Bangkok Smile</h4>
    <div class="radio">
        <br>
        <audio src="http://fm94.tv5.co.th:8000/fm94ch3" type="audio/mpeg" controls="" autoplay='false' style="width:300px;height:60px;"></audio>
        <div class="clear"></div>
        <br>     
    </div>
    <h5>HITZ 95.5</h5>
    <div class="radio">
        <br>
        <audio src="http://prdonline.prd.go.th:8206/;stream" type="audio/mpeg" controls="" autoplay="" style="width:300px;height:60px;"></audio>
        <div class="clear"></div>
        <br>     
    </div>
    <h5>95.5 สถานีข่าว</h5>
    <div class="radio">
        <div id="player" class="jwplayer jw-reset jw-state-playing jw-skin-seven jw-stretch-uniform jw-breakpoint-0 jw-flag-small-player jw-flag-audio-player jw-flag-live jw-flag-media-audio jw-flag-user-inactive" tabindex="0" aria-label="Video Player" style="width: 300px; height: 40px;">
            <div class="jw-aspect jw-reset"></div>
            <div class="jw-preview jw-reset"></div>
            <div class="jw-media jw-reset">
                <video class="jw-video jw-reset" src="blob:http://radio.siamha.com/5deb770f-5045-435f-8d56-a2a9cfc38060" jw-loaded="data"></video>
            </div><div class="jw-captions jw-reset jw-captions-enabled">
                <div class="jw-captions-window jw-reset">
                    <span class="jw-captions-text jw-reset"></span>
                </div>
            </div>
            <div class="jw-title jw-reset" style="display: none;">
                <div class="jw-title-primary jw-reset"></div>
                <div class="jw-title-secondary jw-reset"></div>
            </div>
            <div class="jw-overlays jw-reset">
                <div id="player_jwpsrv" class="jw-plugin jw-reset"></div>
                <div id="player_related" class="jw-plugin jw-reset jw-plugin-related"></div>
            </div>
            <div class="afs_ads" style="width: 1px; height: 1px; position: absolute; background: transparent;">&nbsp;</div>
            <div class="jw-controls jw-reset">
                <div class="jw-display jw-reset">
                    <div class="jw-display-container jw-reset">
                        <div class="jw-display-controls jw-reset">
                            <div class="jw-display-icon-container jw-display-icon-rewind jw-background-color jw-reset">
                                <div class="jw-icon jw-icon-rewind jw-button-color jw-reset" role="button" tabindex="0" aria-label="Start playback"></div>
                            </div>
                            <div class="jw-display-icon-container jw-display-icon-display jw-background-color jw-reset" style="cursor: pointer; pointer-events: none;">
                                <div class="jw-icon jw-icon-display jw-button-color jw-reset" role="button" tabindex="0" aria-label="Pause" style="pointer-events: none;"></div>
                            </div>
                            <div class="jw-display-icon-container jw-display-icon-next jw-background-color jw-reset" style="display: none;">
                                <div class="jw-icon jw-icon-next jw-button-color jw-reset" role="button" tabindex="0" aria-label="Next"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="jw-controls-right jw-reset">
                    <div class="jw-dock jw-reset"></div>
                </div>
                <div class="jw-nextup-container jw-reset">
                    <div class="jw-nextup jw-reset">
                        <div class="jw-nextup-tooltip jw-reset">
                            <div class="jw-nextup-header jw-reset"></div>
                            <div class="jw-nextup-body jw-background-color jw-reset">
                                <div class="jw-nextup-thumbnail jw-reset"></div>
                                <div class="jw-nextup-title jw-reset"></div>
                            </div>
                        </div>
                        <button class="jw-icon jw-nextup-close jw-reset" aria-label="Next Up Close"></button>
                    </div>
                </div>
                <div class="jw-controlbar jw-background-color jw-reset">
                    <div class="jw-group jw-controlbar-left-group jw-reset">
                        <div class="jw-icon jw-icon-inline jw-button-color jw-reset jw-icon-playback" role="button" tabindex="0" aria-label="Play" style=""></div>
                        <div class="jw-icon jw-icon-inline jw-button-color jw-reset jw-icon-rewind" role="button" tabindex="0" aria-label="Rewind 10s" style="display: none;"></div>
                        <span class="jw-text jw-reset jw-text-elapsed" role="timer">22:55</span>
                        <span class="jw-text jw-reset jw-text-duration" role="timer">00:00</span>
                        <span class="jw-text jw-reset jw-text-countdown" role="timer">00:00</span>
                    </div>
                    <div class="jw-group jw-controlbar-center-group jw-reset">
                        <div class="jw-slider-time jw-background-color jw-reset jw-slider-horizontal jw-reset" aria-hidden="true">
                            <div class="jw-slider-container jw-reset">
                                <div class="jw-rail jw-reset"></div>
                                <div class="jw-buffer jw-reset" style="width: 0%;"></div>
                                <div class="jw-progress jw-reset" style="width: 0%;"></div>
                                <div class="jw-knob jw-reset" style="left: 0%;"></div>
                                <div class="jw-icon jw-icon-tooltip jw-tooltip-time jw-button-color jw-reset">
                                    <div class="jw-overlay jw-reset">
                                        <div class="jw-time-tip jw-background-color jw-reset">
                                            <div class="jw-reset" style="width: 0px; height: 0px;"></div>
                                            <span class="jw-text jw-reset"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="jw-text jw-reset jw-text-alt" role="status">Live broadcast</span>
                    </div>
                    <div class="jw-group jw-controlbar-right-group jw-reset">
                        <span class="jw-text jw-reset jw-text-duration" role="timer">00:00</span>
                        <div class="jw-icon jw-icon-inline jw-button-color jw-reset jw-icon-next" role="button" tabindex="0" aria-label="Next" style="display: none;"></div>
                        <div aria-label="Quality" role="button" tabindex="0" class="jw-icon jw-icon-tooltip jw-icon-hd jw-button-color jw-reset jw-hidden jw-toggle">
                            <div class="jw-overlay jw-reset"></div>
                        </div>
                        <div aria-label="Closed captions" role="button" tabindex="0" class="jw-icon jw-icon-tooltip jw-icon-cc jw-button-color jw-reset jw-hidden jw-off jw-toggle">
                            <div class="jw-overlay jw-reset"></div>
                        </div>
                        <div aria-label="Audio tracks" role="button" tabindex="0" class="jw-icon jw-icon-tooltip jw-icon-audio-tracks jw-button-color jw-reset jw-hidden jw-toggle">
                            <div class="jw-overlay jw-reset"></div>
                        </div>
                        <div aria-label="Playback rates" role="button" tabindex="0" class="jw-icon-tooltip jw-icon-playback-rate jw-button-color jw-reset jw-hidden jw-selection-menu">
                            <div class="jw-selection-menu-icon-container">
                                <div class="jw-menu-selection-icon jw-reset">
                                    <svg viewBox="112 -44 1024 684">
                                        <g>
                                            <path d="M735.2,41.2c-143,0-258.8,115.9-258.8,258.8s115.9,258.8,258.8,258.8S994,443,994,300S878.1,41.2,735.2,41.2z M899.9,323.5H758.7h-47.1v-47.1V135.3h47.1v141.2h141.2V323.5z"></path>
                                            <rect x="288.1" y="135.3" width="141.2" height="47.1"></rect>
                                            <rect x="194" y="276.5" width="188.2" height="47.1"></rect>
                                            <rect x="288.1" y="417.7" width="141.2" height="47.1"></rect>
                                        </g>
                                    </svg>
                                </div>
                                <div class="jw-menu-selection-text jw-reset"></div>
                            </div>
                            <div class="jw-overlay jw-reset"></div>
                        </div>
                        <div class="jw-icon jw-icon-inline jw-button-color jw-reset jw-icon-volume" role="button" tabindex="0" aria-label="Volume" style=""></div>
                        <div class="jw-reset jw-icon-cast" style="display: none; cursor: pointer;">
                            <button is="google-cast-button" class="jw-button-color jw-icon-inline jw-off" aria-label="Chromecast" role="button" tabindex="0"></button>
                        </div>
                        <div class="jw-slider-volume jw-background-color jw-reset jw-slider-horizontal jw-reset" aria-hidden="true">
                            <div class="jw-slider-container jw-reset">
                                <div class="jw-rail jw-reset"></div>
                                <div class="jw-buffer jw-reset"></div>
                                <div class="jw-progress jw-reset" style="width: 90%;"></div>
                                <div class="jw-knob jw-reset" style="left: 90%;"></div>
                            </div>
                        </div>
                        <div aria-label="Volume" role="button" tabindex="0" class="jw-icon jw-icon-tooltip jw-icon-volume jw-button-color jw-reset">
                            <div class="jw-overlay jw-reset">
                                <div class="jw-slider-volume jw-volume-tip jw-background-color jw-reset jw-slider-vertical jw-reset" aria-hidden="true">
                                    <div class="jw-slider-container jw-reset">
                                        <div class="jw-rail jw-reset"></div>
                                        <div class="jw-buffer jw-reset"></div>
                                        <div class="jw-progress jw-reset" style="height: 90%;"></div>
                                        <div class="jw-knob jw-reset" style="bottom: 90%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="jw-icon jw-icon-inline jw-button-color jw-reset jw-icon-fullscreen" role="button" tabindex="0" aria-label="Fullscreen" style=""></div>
                    </div>
                </div>
            </div>
            <div class="jw-rightclick jw-reset" style="left: 118px; top: 21px;">
                <ul class="jw-reset">
                    <li class="jw-reset jw-featured">
                        <a href="https://jwplayer.com/learn-more" class="jw-reset" target="_blank">
                            <span class="jw-icon jw-rightclick-logo jw-reset"></span>
                            Powered by JW Player 7.12.13
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <script type="text/javascript" src="https://cdn.mcot.net/jwplayer7/jwplayer.js"></script>
        <script type="text/javascript">
        jwplayer.key = "2/sSh6o2/452a4UzkgQzHttrjcx5mUJOGW+8Ng==";
        </script>
        <script type="text/javascript">
                jwplayer('player')
                    .setup({
                        file: 'http://lb-media.mcot.net:1935/RadioLive/fm1005_live.smil/playlist.m3u8',
                        type: 'mp3',
                        androidhls: true,
                        width: '300',
                        height: '40',
                        fallback: 'true',
                        autostart: 'false',
                        repeat: 'true',
                    });
        </script>
    </div>
</body>
</html>

